<div class=" bg-gray-700">
    <div class="container w-[85%]">
        <div class="grid grid-cols-3 gap-3 text-center py-12 text-white">
            <div>
                <h6 class="font-semibold text-3xl">LOCATION </h6>
                <br>
                <p>2215 John Daniel Drive </p>
                <br>
                <p>Clark, MO 65243</p>
            </div>
            <div>
                <h5 class="font-semibold text-3xl">AROUND THE WEB            </h5>
                <br>
                <ul class="flex justify-center ">
                    <li class="pr-2 ">
                        <span class="icons "><i class="fa-brands fa-facebook text-xl"></i></span>
                    </li>
                    <li class="pr-2">
                        <span class="icons "><i class="fa-brands fa-twitter text-xl"></i></span>
                    </li>
                    <li class="pr-2">
                        <span class="icons "> <i class="fa-brands fa-linkedin text-xl"></i></span>
                    </li>
                    <li class="pr-2">
                        <span class="icons "> <i class="fa-solid fa-globe text-xl"></i></span>
                    </li>
                   
                </ul>
            </div>
            <div>
                <h5 class="font-semibold text-3xl">ABOUT FREELANCER            </h5>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route
    
                </p>
            </div>
        </div>
    </div>
    
</div>
<div class="bg-gray-900 text-center">
    <p class="py-5 text-white">Copyright © Your Website 2021</p>
</div>