<div class="bg-teal-500 py-40   flex justify-center items-center">
    <div class="text-center">

        <h2 class="text-white text-4xl font-bold pt-12">ABOUT COMPONENT</h2>

        <app-star></app-star>

        <div class="w-2/3 m-auto flex text-start text-white">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

            </p>
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

            </p>
        </div>
    </div>

</div>